{% extends 'index.html' %} {% block content %}
<div class="container-fluid">
  <div class="row vh-100">
    <!-- SIDEBAR -->
    <aside class="col-md-3 col-lg-2 bg-dark text-white d-flex flex-column p-3">
      <h4 class="text-center mb-4">Panel</h4>
      <nav class="nav flex-column sidebar-links">
        <a href="/gastos" class="nav-link text-white">Gastos</a>
        <a href="/ingresos" class="nav-link text-white">Ingresos</a>
        <a href="/analisis" class="nav-link text-white">Análisis</a>
      </nav>
    </aside>

    <!-- MAIN CONTENT -->
    <main class="col-md-9 col-lg-10 p-4 mt-5 bg-light">
      {% if mostrar_welcome %}
      <h1>Bienvenido {{ usuario.username }}</h1>
      {% endif %} {% block main_content %}
      <script>
        localStorage.setItem("access_token", "{{ token }}");
      </script>
      {% endblock %}
    </main>
  </div>
</div>
{% endblock %}
