{% extends 'index.html' %} {% block content %}
<div class="dashboard-container">
  <aside class="sidebar">
    <nav class="sidebar-links">
      <a href="/gastos" class="sidebar-item">Gastos</a>
      <a href="/ingresos" class="sidebar-item">Ingresos</a>
      <a href="/analisis" class="sidebar-item">Análisis</a>
    </nav>
  </aside>
  <main class="main-content">
    {% block main_content %}
    <script>
      localStorage.setItem("access_token", "{{ token }}");
    </script>
    {% endblock %}
  </main>
</div>
{% endblock %}
